In [1]:
import dask.dataframe as dd
import geopandas
import dask_geopandas

df = dd.read_parquet(
    'az://release/2023-07-26-alpha.0/theme=places/type=place/*',
    columns=['bbox', 'geometry'],
    engine='pyarrow',
    dtype_backend="pyarrow",
    storage_options={"anon": True, "account_name": "overturemapswestus2"},
    parquet_file_extensions=False,
)

geometry = df["geometry"].map_partitions(geopandas.GeoSeries.from_wkb, meta=geopandas.GeoSeries(name="geometry"))
gdf = dask_geopandas.from_dask_dataframe(df, geometry=geometry)
gdf.head()

,bbox,geometry
0,"{'minx': -4.175979, 'maxx': -4.175979, 'miny':...",POINT (-4.17598 53.21174)
1,"{'minx': -58.53305, 'maxx': -58.53305, 'miny':...",POINT (-58.53305 -34.58090)
2,"{'minx': -46.5936956, 'maxx': -46.5936956, 'mi...",POINT (-46.59370 -23.51118)
3,"{'minx': 99.555783, 'maxx': 99.555783, 'miny':...",POINT (99.55578 11.55832)
4,"{'minx': 98.7590515, 'maxx': 98.7590515, 'miny...",POINT (98.75905 8.41062)